<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bitoaster.rssreader.app">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application android:allowBackup="true"
                 android:icon="@drawable/ic_launcher"
                 android:label="@string/app_name"
                 android:theme="@style/AppTheme">
        <activity android:name=".ActivityItemReader"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ActivityChannel"
                  android:label="Channel"
                  android:parentActivityName=".ActivityItemReader">
        </activity>
        <activity android:name=".ActivitySettings"
                  android:label="Settings"
                  android:parentActivityName=".ActivityItemReader">
        </activity>
        <activity android:name=".ActivityAbout"
                  android:label="About"
                  android:parentActivityName=".ActivityItemReader">
        </activity>
    </application>

</manifest>
